.googleDoodle {
  display: flex;
  justify-content: center;
  width: 100%;
}

.doodle-letters {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 600px;
  margin-top: 5vh;
  font-size: 90px;
  font-weight: bold;
}

.first-g, .second-g {
  color: blue;
}

.first-o, .e {
  color: red;
}

.second-o {
  color: gold;
}

.l {
  color: mediumseagreen;
}