.buttonContainer {
  /* background-color: greenyellow; */
  display: flex;
  justify-content: space-between;
}

.button-div-left {
  /* background-color: pink; */
  margin-right: 10px;
}

.button-div-right {
  /* background-color: darkgray; */
  margin-left: 10px;
}

button {
  padding: 7px 15px 7px 15px;
  background-color: rgb(167, 167, 167, 0.1);
  border: 2px solid rgb(167, 167, 167, 0);
  font-size: medium;
}

button:hover {
  border: 2px solid rgb(167, 167, 167, 0.3);
}