.googleDoodle {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  width: 100%;
  height: 35vh;
  /* background-color: aqua; */
}

.doodle {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 600px;
  font-size: 90px;
  padding-bottom: 35px;
  font-weight: bold;
}

.first-g, .second-g {
  color: blue;
}

.first-o, .e {
  color: red;
}

.second-o {
  color: gold;
}

.l {
  color: mediumseagreen;
}